.icon-48-imveis {
      background-image: url(../images/l_imveis.png);
      padding-left:60px!important;
}

.icon-48-imvel {
      background-image: url(../images/l_imveis.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}